/**
 * Custom Navigation
 *
 * @author Thomas Bredin-Grey <thomas@panmedia.co.nz>
 * @author Hemi Ormsby <hemi@panmedia.co.nz>
 * @url https://github.com/tbredin/OnionKnight
 *
 * @description: A set of mixins that automate navigation styles based on Mammoth navigation builder
*/

//===================================================//
//  DEPENDANCIES:
//===================================================//
//  Compass & Susy
//  @extend %plain-list;
//  @extend %heading-font;
//  @extend %text-overflow;

//===================================================//
//  @TODO OnionKnight options for the following:
//===================================================//

// - delays on sub-nav transitions to emulate hoverintent
// - nav-color_transition could be genericised and changed to nav-link_transition. Use similar parameters as sub-nav_transition
// - changing divider color on hover/active?
// - arrow options for 3rd level menus
// - improve dropdown positioning (currently is very arbitrary: "top: 2.25 * padding-y" - not that great)
// - most units need to be in ems
// - better animation control for arrows and mobile menus
// - dropdown indicator & subnavigation positioning/spacing from main nav


//===================================================//
//  MIXIN REFERENCE:
//===================================================//
//  See below for full list of mixins and parameters
//  Further definitions can be found within each mixin below

//@include nav_layout();
        //parameters: ($nav_padding-x, $nav_padding-y, $sub-nav_padding-x, $sub-nav_padding-y)

//@include nav_colors();
        //parameters: ($bg-color, $text-color, $hover-bg-color, $hover-text-color, $active-bg-color, $active-text-color)

//@include sub-nav_colors();
        //parameters: ($bg-color, $text-color, $hover-bg-color, $hover-text-color)

//@include nav_styles();
        //parameters: ($font-size, $text-transform, $border-radius, $divider-style, $divider-color)

//@include sub-nav_styles();
        //parameters: ($font-size, $text-transform, $border-radius, $divider-color, $divider-style, $border-color, $padding-color, $padding-width)

//@include sub-nav_transition();
        //parameters: ($property, $from, $to, $duration, $ease, animate mobile?, $property-2: false, $from-2, $to-2, $duration-2, $ease-2)

//@include dropdown-indicator();
        //parameters: ($width, $height, $image, $animate, $color, $hover-color)

//@include nav-color_transition();
        //parameters: ($duration, $delay-in, $delay-out)

//---------------------------------------------------//
//  NAV LAYOUT
//---------------------------------------------------//
//3X z-index variables for navigation
$nav__z-index_top: 250; //subnavigation layer
$nav__z-index_middle: 210;  //subnav indicator
$nav__z-index_bottom: 200;  //level-1 nav items

@mixin nav_layout($nav_padding-x, $nav_padding-y: $nav_padding-x, $sub-nav_padding-x: $nav_padding-x, $sub-nav_padding-y: $nav_padding-y) {
    .nav__menu {            // all navigation unordered list (ul) elements.
        @extend %plain-list; //remove the generic list styles (this is the ul tag).
    }
    .nav__item {
        font-size: 1em; //reset font size
        position: relative;
    }
    .nav__menu--depth-1 {
        display: none;

        @include at-breakpoint($medium) {
            display: block !important;
            background-color: transparent;
        }

        > .nav__item { //Select level-1 unordered list direct-child (li) elements.
            position: relative; //Required to set dropdowns to position absolute (while still relative to their parent).
            z-index: $nav__z-index_bottom;       //set z-index higher than banner area

            //DROPDOWN (on-hover)
            &:hover .nav__menu--depth-2,
            &:focus .nav__menu--depth-2 { //display the dropdown (level-2) on hover
                @include at-breakpoint($medium) {
                    position: relative; //Pushes down the other nav links when dropdown is open
                    left: 0;            //Bring back on-screen when needed
                }
            }
        }
    }
    .nav__link {            //Select all navigation anchors (a) and give them similar styling
        display: block;
        padding: $nav_padding-y $nav_padding-x;  //fill out area around link
        @extend %text-overflow; //truncate the links
    }
    //DROPDOWN STYLES
    .nav__menu--depth-2 {   //level-2 unordered list (ul) element
        display: none;

        @include at-breakpoint($medium) {
            position: absolute; //position so subnav does not interfere with the document flow and sits over top.
            left:-9999px;       //Hide off-screen when not needed (this is more accessible than display:none;)
            display: block !important;
        }

        z-index: $nav__z-index_top;       //set z-index higher than banner area

        // webkit fixes for the rendering mode on animated text
        -webkit-transform: translateZ(0px);             // forces hardware accelleration, respects -webkit-font-smoothing
        -webkit-font-smoothing: subpixel-antialiased;   // the preferred anti-aliasing method

        > .nav__item > .nav__link { //Select dropdown (a) anchor elements.
            white-space:nowrap; //Stop text wrapping and creating multi-line dropdown items
            padding: $sub-nav_padding-y $sub-nav_padding-x;  //overrite subnavigation link (a) padding to be slightly greater.
        }
    }

    //dropdown position
    .nav__item--parent:after {
        top: 3.5 * $nav_padding-y; //this possibly needs some work
    }

    //BREAKPOINTS
    @include at-breakpoint($medium) {
        .nav__menu--depth-1 > .nav__item { //Select level-1 unordered list direct-child (li) elements.
            float: left;     //stacks the links in a horizontal line.

            &:hover .nav__menu--depth-2,
            &:focus .nav__menu--depth-2 { //display the dropdown (level-2) on hover
                position: absolute;
            }
        }
    }
}

//---------------------------------------------------//
//  NAV COLORS
//---------------------------------------------------//
//sets nav link colors
@mixin nav_link-color($bg-color:transparent, $text-color:$link-color) {
    .nav__link {            //Select all navigation anchors (a) and give them similar styling
        background-color: $bg-color; //add background color for links
        color: $text-color;  //select text color
    }
}

//sets sub-nav link colors
@mixin sub-nav_link-color($bg-color:transparent, $text-color:$link-color) {
    .nav__menu--depth-2 > .nav__item .nav__link {
        background-color: $bg-color;
        color: $text-color;
    }
}

//sets nav active link colors
@mixin nav_active-color($bg-color:transparent, $text-color:$link-color) {
    .nav__link--active {
        background-color: $bg-color;
        color: $text-color;  //Set active page color on links
    }
}

//sets nav hover link colors
@mixin nav_hover-color($bg-color:transparent, $text-color:$link-color) {
    //DROPDOWN STYLES
    .nav__menu--depth-1 > .nav__item:hover > .nav__link,
    .nav__menu--depth-1 > .nav__item:focus > .nav__link {
        background-color: $bg-color;
        color: $text-color;  //persistant hover color on parent link of dropdown (and its children)
    }
    .nav__menu--depth-1 > .nav__item--parent:hover:after,
    .nav__menu--depth-1 > .nav__item--parent:focus:after {
        color: $text-color;
    }
}

//sets sub-nav hover link colors
@mixin sub-nav_hover-color($bg-color:transparent, $text-color:$link-color) {
    .nav__menu--depth-2 > .nav__item .nav__link:hover,
    .nav__menu--depth-2 > .nav__item .nav__link:focus {
        background-color: $bg-color;
        color: $text-color;  //specify explicit hover states for subnavigation children
    }
}

//MAIN NAV COLOR MIXIN
@mixin nav_colors($bg-color:transparent, $text-color:$link-color, $hover-bg-color:transparent, $hover-text-color:$link-color, $active-bg-color:transparent, $active-text-color:$link-color) {
    @include nav_link-color($bg-color, $text-color);
    @include nav_hover-color($hover-bg-color, $hover-text-color);
    @include nav_active-color($active-bg-color, $active-text-color);
 }

 //MAIN SUBNAV COLOR MIXIN
 @mixin sub-nav_colors($bg-color: transparent, $text-color: $link-color, $hover-bg-color: transparent, $hover-text-color: $link-color) {
    @include sub-nav_link-color($bg-color, $text-color);
    @include sub-nav_hover-color($hover-bg-color, $hover-text-color);
 }

//---------------------------------------------------//
//  NAV STYLES
//---------------------------------------------------//
@mixin nav_styles($font-size: $p-size, $text-transform: none, $border-radius: false, $divider-style: false, $divider-color: transparent) {
    //TEXT STYLES
    .nav__link {            //Select all navigation anchors (a) and give them similar styling
        @extend %heading-font; //use heading text (specified in variables.scss)
        text-decoration: none; //remove the underline text decoration
        text-transform: $text-transform; //convert all letters to uppercase
        font-size: $font-size;    //select font-size

        //BORDER RADIUS
        @if $border-radius != false {
            @include border-radius($border-radius); //add border radius
        }
    }

    //DIVIDER
    //valid $divider-style values: none (default) | left | right | inside | outside
    @if $divider-style != false and $divider-style != none {
        @include at-breakpoint($medium) {
            @if $divider-style == inside or $divider-style == right or $divider-style == outside {
                .nav__menu--depth-1 > .nav__item > .nav__link { //Select level-1 direct-child (a) anchor elements.
                    border-right: 1px solid $divider-color; //add border to visually divide the links
                }
            } @else if $divider-style == left {
                .nav__menu--depth-1 > .nav__item > .nav__link { //Select level-1 direct-child (a) anchor elements.
                    border-left: 1px solid $divider-color; //add border to visually divide the links
                }
            }

            @if $divider-style == inside {
                .nav__menu--depth-1 > .nav__item--last .nav__link { //select the last link of level-1 navigation
                    border-right: 0 none;    //remove the border on the last navigation element
                }
            }

            @if $divider-style == outside {
                .nav__menu--depth-1 > .nav__item--first .nav__link { //select the last link of level-1 navigation
                    border-left: 1px solid $divider-color;    //add the border on the first navigation element
                }
            }
        }
    }
}

//---------------------------------------------------//
//  DROPDOWN STYLES
//---------------------------------------------------//
@mixin sub-nav_styles($font-size: $p-size, $text-transform: none, $border-radius: false, $divider-color: false, $divider-style: top, $border-color: false, $padding-color: false, $padding-width: 1em) {

    .nav__menu--depth-2 {
        //BORDER RADIUS
        @if $border-radius != false {
            @include at-breakpoint($medium) {
                @include border-radius($border-radius); //add border radius

                > .nav__item:first-child .nav__link {
                    @include border-radius($border-radius); //add border radius
                    @include border-bottom-radius(0); //add border radius
                }
                > .nav__item:last-child .nav__link {
                    @include border-radius($border-radius); //add border radius
                    @include border-top-radius(0); //add border radius
                }
            }
        }

        //DROPDOWN BORDER
        @if $border-color != false {
            @include at-breakpoint($medium) {
                border: 1px solid $border-color;
                margin-left: -1px;
            }
        }

        //DROPDOWN PADDING
        @if $padding-color != false {
            @include at-breakpoint($medium) {
                padding: $padding-width;
                background-color: $padding-color;
            }
        }

        > .nav__item {
            .nav__link {
                @if $font-size != false {
                    font-size: $font-size;
                }

                @if $text-transform != false {
                    text-transform: $text-transform;
                }

                //DIVIDER BASIC STYLES
                @if $divider-color != false and $divider-style == top {
                    border-top: 1px solid $divider-color;
                } @else if $divider-color != false and $divider-style == inside {
                    border-top: 1px solid $divider-color;
                } @else if $divider-color != false and $divider-style == bottom {
                    border-bottom: 1px solid $divider-color;
                } @else if $divider-color != false and $divider-style == outside {
                    border: 1px solid $divider-color;
                    border-bottom: 0 none;
                }
            }

            //DIVIDER CAP STYLES
            //"inside", top" & "bottom" only divides links if border or padding is set. "outside" always draws borders
            @if $divider-color != false and $divider-style == top {
                @if $border-color != false or $padding-color != false {
                    @include at-breakpoint($medium) {
                        &:first-child .nav__link {
                            border-top: 0 none;
                        }
                    }
                } @else {
                    &:first-child .nav__link {
                        border-top: 0 none;
                    }
                }
            } @else if $divider-color != false and $divider-style == bottom {
                @if $border-color != false or $padding-color != false {
                    @include at-breakpoint($medium) {
                        &:last-child .nav__link {
                            border-bottom: 0 none;
                        }
                    }
                } @else {
                    &:last-child .nav__link {
                        border-bottom: 0 none;
                    }
                }
            } @else if $divider-color != false and $divider-style == outside {
                &:last-child .nav__link {
                    border-bottom: 1px solid $divider-color;
                }
            } @else if $divider-color != false and $divider-style == inside {
                &:first-child .nav__link {
                    border-top: 0 none;
                }
            }
        }
    }
}

//---------------------------------------------------//
//  DROPDOWN ANIMATIONS
//---------------------------------------------------//
@mixin sub-nav_transition($property, $from, $to, $duration: 0.5s, $ease: ease, $at-mobile: false,
                          $property-2: false, $from-2: false, $to-2: false, $duration-2: 0.5s, $ease-2: ease) {
    @if $property-2 == false {
        @if $at-mobile == true {
            .nav__menu--depth-1 > .nav__item {
                &:hover .nav__menu--depth-2,
                &:focus .nav__menu--depth-2 {
                    @if $to != false {
                        #{$property}: $to;
                    }
                    @include transition($property $duration $ease, left 0s linear);
                }
            }
            .nav__menu--depth-2 {
                @if $from != false {
                    #{$property}: $from;
                }
                @include transition($property $duration $ease, left 0s linear $duration);
            }
        } @else {
            @include at-breakpoint($medium) {
                .nav__menu--depth-1 > .nav__item {
                    &:hover .nav__menu--depth-2,
                    &:focus .nav__menu--depth-2 {
                        @if $to != false {
                            #{$property}: $to;
                        }
                        @include transition($property $duration $ease, left 0s linear);
                    }
                }
                .nav__menu--depth-2 {
                    @if $from != false {
                        #{$property}: $from;
                    }
                    @include transition($property $duration $ease, left 0s linear $duration);
                }
            }
        }
    } @else {
        @if $at-mobile == true {
            .nav__menu--depth-1 > .nav__item {
                &:hover .nav__menu--depth-2,
                &:focus .nav__menu--depth-2 {
                    @if $to != false {
                        #{$property}: $to;
                    }
                    @if $to-2 != false {
                        #{$property-2}: $to-2;
                    }
                    @include transition($property $duration $ease, $property-2 $duration-2 $ease-2, left 0s linear);
                }
            }
            .nav__menu--depth-2 {
                @if $from != false {
                    #{$property}: $from;
                }
                @if $from-2 != false {
                    #{$property-2}: $from-2;
                }
                @include transition($property $duration $ease, $property-2 $duration-2 $ease-2, left 0s linear $duration);
            }
        } @else {
            @include at-breakpoint($medium) {
                .nav__menu--depth-1 > .nav__item {
                    &:hover .nav__menu--depth-2 {
                        @if $to != false {
                            #{$property}: $to;
                        }
                        @if $to2 != false {
                            #{$property-2}: $to-2;
                        }
                        @include transition($property $duration $ease, $property-2 $duration-2 $ease-2, left 0s linear);
                    }
                }
                .nav__menu--depth-2 {
                    @if $from != false {
                        #{$property}: $from;
                    }
                    @if $from-2 != false {
                        #{$property-2}: $from-2;
                    }
                    @include transition($property $duration $ease, $property-2 $duration-2 $ease-2, left 0s linear $duration);
                }
            }
        }
    }
}

//---------------------------------------------------//
//  DROPDOWN INDICATOR
//---------------------------------------------------//
@mixin dropdown-indicator($width: 10px, $height: 10px, $image: false, $animate: true, $color: $link-color, $hover-color: $link-color) {
    .nav__item--parent:after {
        @if $image == false {   //if there is no specified image, use the arrow
            content: "\25BE";   //content code for arrow
        } @else {               //if there is an image, it can be specified in here
            content: "";        //reset the content:after
            background: unquote($image);
        }
        pointer-events: none;
        position: absolute; //ensures arrow does not move content
        width: $width;
        height: $height;
        color: $color;  //select text color
        background-color: transparent; //invisible background-color on this
        left: 50%;          //center its container
        margin-left: -0.5 * $width; //calculate and center, based off width.
        z-index: $nav__z-index_top;       //sit this above level-2 subnavigation
        margin-top: 0;

        @if $animate == true {
            @include transition(margin-top 0.1s linear);
        }
    }
    @if $animate == true {
        @include at-breakpoint($medium) {
            .nav__menu--depth-1 > .nav__item--parent:hover:after,
            .nav__menu--depth-1 > .nav__item--parent:focus:after {
                margin-top: $height * 0.5;
                // color: $hover-color; //moved below
            }
        }
    }
    .nav__menu--depth-1 > .nav__item--parent:hover:after,
    .nav__menu--depth-1 > .nav__item--parent:focus:after {
        color: $hover-color; //moved here so hover still applies color, regardless of animation
    }
}

//---------------------------------------------------//
//  NAV COLOR ANIMATIONS
//---------------------------------------------------//
@mixin nav-color_transition($duration: 0.2s, $delay-in: 0, $delay-out: $delay-in) {
    .nav__link {
        @include transition(color $duration linear, background-color $duration linear);
        @include transition-delay($delay-in, $delay-in);
    }
    //resets sub-nav animation delay
    .nav__menu--depth-2 > .nav__item .nav__link {
        @include transition-delay($delay-out, $delay-out);
    }
    //resets nav hover link delay
    .nav__menu--depth-1 > .nav__item:hover > .nav__link {
        @include transition-delay($delay-out, $delay-out);
    }
    //resets sub-nav hover link delay
    .nav__menu--depth-2 > .nav__item .nav__link:hover {
        @include transition-delay($delay-out, $delay-out);
    }
}
