/**
 * Master template for modern browsers
 *
 * @author Thomas Bredin-Grey <thomas@panmedia.co.nz>
 * @author Hemi Ormsby <hemi@panmedia.co.nz>
 * @url https://github.com/tbredin/OnionKnight
 */

 // breakpoint output settings for modern browsers
$breakpoint-media-output  : true;
$breakpoint-ie-output     : false;

// no legacy support
$legacy-support-for-ie: false;
$support-for-original-webkit-gradients: false;
$experimental-support-for-khtml : false;

//browser stats are too low to warrant support for the following:
$experimental-support-for-opera : false;

// import css frameworks
@import "compass",
        "susy";

// import styles
@import "screen";
