/**
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 * variables.scss
 * Site Variables
 * +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
 */

/**
 * colors
 */
$grey-purple: #3e3d45;
$blue: #0196d1;
$heading-color: #0196d1;
$link-color: #0196d1;

/**
 * responsive grid breakpoints
 */
$mobile:    $total-columns;
$tablet:    9 no-media-queries;
$desktop:     12 no-media-queries;

/**
 * vertical rhythm
 */
$base-font-size: 16px;
$base-line-heigth: 24px;
$round-to-nearest-half-line: true;
@include establish-baseline;

/**
 * page width & legacy grid
 */
$col-num: 12;
$page-width: 960px;
$gutter-width: 1em;
$grid-padding: $gutter-width;

/**
 * footer
 */
$sticky-footer: 302px;

/**
 * font-sizes
 */
$h1-size: 1.8em;
$h2-size: 1.25em;
$h3-size: 1.1em;
$h4-size: 1em;
$p-size: 0.85em;

/**
 * misc
 */
$border-radius: 0.4em;


/**
 * neccessary for custom gradient mixins to work - sets start position of grdients globally
 */
$gradient-startpoint: top;

/**
 * opera traffic is very low - not supporting old vendor prefix
 */
$experimental-support-for-opera: false;
