/**
 * Site Variables
 *
 * @author Thomas Bredin-Grey <thomas@panmedia.co.nz>
 * @author Hemi Ormsby <hemi@panmedia.co.nz>
 * @url https://github.com/tbredin/OnionKnight
 */

// @todo customise your site colors
// colors
$site-purple: #3e3d45;
$site-blue: #0196d1;
$heading-color: $site-blue;
$sub-heading-color: $site-blue;
$link-color: $site-purple;

//responsive grid breakpoints
//column numbers
//for constructing longhand susy layouts inside at-breakpoint mixins
$small-cols: $total-columns;
$medium-cols: 9;
$large-cols: 12;

//function for calculating exact em widths of susy layouts
@function calc-breakpoint($cols) {
    // gutters + columns + grid padding
    @return ($cols - 1) * $gutter-width + $cols * $column-width + 2 * $grid-padding;
}

//exact widths (as calculated by susy)
//for constructing longhand susy layouts inside at-breakpoint mixins
$small-width: calc-breakpoint($small-cols);
$medium-width: calc-breakpoint($medium-cols);
$large-width: calc-breakpoint($large-cols);

//susy standard responsive layouts
//use as shorthand for your breakpoints
$small:     $small-cols no-mediaqueries;
$medium:    $medium-cols no-mediaqueries;
$large:     $large-cols no-mediaqueries;

// vertical rhythm
$base-font-size: 16px;
$base-line-height: 24px;
$round-to-nearest-half-line: true;
@include establish-baseline;

// grid settings
$col-num: 12;
$column-width: 4.2em;   // default 4.2em is max col width for layouts to look nice on ipad
$gutter-width: 1em;     // default 1em is max gutter width for layouts to look nice on ipad
$grid-padding: $gutter-width;

// sticky footer (entirely optional - for use with compass sticky footer mixin)
$sticky-footer: 300px;

// typographic scale
$h1-size: 32px;
$h2-size: 24px;
$h3-size: 21px;
$h4-size: 18px;
$h5-size: 16px;
$h6-size: 14px;
$p-size: 14px;
$small-size: 12px;

// other typography
$heading-case: uppercase;
$heading-font: Helvetica, Arial, sans-serif;
$body-font: Helvetica, Arial, sans-serif;
$code-font: "inconsolata", "Consolas", "droid-sans-mono", "Droid Sans Mono", "Monaco", "Lucida Console", monospace;

// misc
$border-radius: 0.4em;

// neccessary for custom gradient mixins to work - sets start position of gradients globally
$gradient-startpoint: top;

// opera traffic is very low - not supporting old vendor prefix
$experimental-support-for-opera: false;
